[Unit]
Description=Run satellite-deploy.service every 2 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Unit=satellite-deploy.service

[Install]
WantedBy=timers.target
